html {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

@font-face {
    font-family: 'brokenclockmedium';
    src: url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.eot');
    src: url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.eot?#iefix') format('embedded-opentype'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.woff2') format('woff2'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.woff') format('woff'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.ttf') format('truetype'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.svg#brokenclockmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0px;
  padding: 0px;
  background: #242424;
  scroll-behavior: smooth;
}

.mpcontainer {
    flex: 1;
  display: flex;
  flex-direction: column;
}

.bigflex {
  display: flex;
  flex-wrap: wrap;
    width: minmax(1000px, 50%);

}

.mptop {
  color: white;
  background: black;
  font-family: 'brokenclockmedium';
  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
    flex: 1;

}

/* only the best fonts */
.mpbigassfont {
  font-size: 10vh;
}

.mpkindabigassfont {
  font-size: 10vh;
}

.maininfo {
  font-size: 10vh;
  font-family: 'brokenclockmedium';
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  height: 44vh;
  width: minmax(100px, 50%);
}

.mptext {
  padding-bottom: 0;
  transition-duration: 0.2s;
}

.mptext:hover {
  padding-bottom: 20px;
  transition-duration: 0.2s;
}

.mpdivide {
  color: white;
  background: #242424;
  font-family: 'brokenclockmedium';  font-size: 10vh;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 12vh;
    flex: 1;


}
