a {
  color: black;
  text-decoration: none;
}

body {
  margin:0px;
  padding:0px;
 }
.mpcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 300px auto 300px;
  cursor: crosshair;
}

.mptop {
  color: white;
  background: black;
  font-family: 'Stylish', sans-serif;
  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* only the best fonts */
.mpbigassfont {
    font-size: 100px;
}
.mpkindabigassfont {
  font-size: 50px;
}

.maininfo {
  font-size: 75px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  display: flex;
}

.mptext {
  padding-bottom: 0;
    transition-duration: 0.2s;

}
.mptext:hover {
  padding-bottom: 20px;
  transition-duration: 0.2s;
}

.mpdivide {
  color: white;
  background: black;
  font-family: 'Stylish', sans-serif;
  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
