a {
  color: black;
  text-decoration: none;
}

@font-face {
    font-family: 'brokenclockmedium';
    src: url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.eot');
    src: url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.eot?#iefix') format('embedded-opentype'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.woff2') format('woff2'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.woff') format('woff'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.ttf') format('truetype'),
         url('CDN/Fonts/BrokenClockV2/brokenclockfix-webfont.svg#brokenclockmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0px;
  padding: 0px;
}

.mpcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:
  cursor: crosshair;
}

.mptop {
  color: white;
  background: black;
  font-family: 'brokenclockmedium';
  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100vh;
}

/* only the best fonts */
.mpbigassfont {
  font-size: 100px;
}

.mpkindabigassfont {
  font-size: 50px;
}

.maininfo {
  font-size: 200px;
  font-family: 'brokenclockmedium';
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  display: flex;
  height: 50vh;
}

.mptext {
  padding-bottom: 0;
  transition-duration: 0.2s;
}

.mptext:hover {
  padding-bottom: 20px;
  transition-duration: 0.2s;
}

.mpdivide {
  color: white;
  background: #242424;
  font-family: 'brokenclockmedium';  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
