body {
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;
 }

h1 {
  margin: 0vh;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 5vh;
}
p {
  font-size: 3.5vh;
  margin: 2vh;
  font-family: 'Chelsea Market', cursive;
  text-align: justify;
}
.mpcontainer {
  display: grid;
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 25vw auto auto 25vw 25vw 25vw 25vw;
  cursor: crosshair;
}
.mptop {
  color: white;
  background: black;
  font-family: 'Chelsea Market', cursive;
  font-size: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.mpbigassfont {
    font-size: 100px;
}

.mpkindabigassfont {
  font-size: 50px;
}

.mpinfo {
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.imageg {
  background-color: red;
}

.rttxtl {
  transform: rotate(0deg);
    transition-duration: 0.1s;
      transition-delay: 0.1s;

}
.rttxtl:hover {
  transform: rotate(10deg);
}
.rttxtr {
  transform: rotate(0deg);
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}
.rttxtr:hover {
  transform: rotate(-10deg);
}

.storescontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vw;
  cursor: crosshair;
}

.storesimagehoder {

}
